<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/XsF1re/jbme1131/raw/master/Electra_1.0.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>fun.ignition.Electra1131MP</string>
				<key>bundle-version</key>
				<string>420.42.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Electra 탈옥툴 1.0 (multipath 버전, iOS 11.2 - 11.3.1)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
